.upper{
  margin: 0px;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upper .upper-text{
  text-align: right;
  flex-direction: column;
  margin-right: 35px;
}

/* .upper .upper-text h1,h5{
  font-size: 40px;
} */

.upper .upper-img{
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  border-radius: 50%;
}

.upper .upper-img img{
  height: 300px;
  width: 300px;
}

.titles{
  align-items: center;
  text-align: center;
  margin: 20px 0px;
}

.titles p{
  display: inline-block;
  margin: auto;
  padding: 10px 20px;
  border-bottom: 5px solid lightblue;
  font-size: 40px;
}

.about-us{
  padding: 25px 20px;
  text-align: center;
  font-size: 20px;
}

#team {
    min-height: 100vh;
    /* max-height: 100vh; */
    transition-duration: 0.5s;
    color: rgb(100, 100, 100);
    font-size: 1rem;
    position: relative;
}

#team .icon {
    color: rgb(11, 155, 202);
}

#team img{
    border-radius: .8rem;
    box-shadow: 5px 5px 7px 0 rgba(119, 119, 119, 0.8),
        -5px -5px 7px 0 rgba(255, 255, 255, 0.8);
    margin-top: 1rem;

}

#team .fa-circle {
    color: rgb(179, 179, 179);
}

#team .card{
    margin: 0.7rem;
    transition: box-shadow .5s;
    background-color: #afd275;
    background: transparent;
    padding: 1.5rem 2rem 2rem;

    box-shadow: 10px 10px 15px 0 rgba(163, 177, 198, 0.8),
        -10px -10px 15px 0 rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 1.4rem;
    overflow: hidden;

}

#team .card-body{
    display: grid;
}

#team .card:hover{
    box-shadow: inset 10px 10px 15px 0 rgba(163, 177, 198, 0.8),
        inset -10px -10px 15px 0 rgba(255, 255, 255, 0.8);
}

#team .bottom_elements{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#team .big_card {
    font-size: 1.2rem;
    /* line-height: 1.5; */
}

#team .semi {
    display: flex;
    flex-direction: column;
}

#team a{
  text-decoration: none !important;
}

.amigos{
  padding: 20px 0px;
  display: flex;
}

.amigos .amigo-logo{
  align-items: center;
  justify-content: center;
}

.amigos .amigo-logo img{
  height: 35vh;
  width: 45vw;
  margin: 70px 0px;
}

.amigos .amigo-info{
  margin: 30px 0px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.amigos-button{
  color: white;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  padding: 10px 15px;
  border-radius: .8rem;
  margin: 15px;
  display: inline-block;
}

@media only screen and (max-width: 990px) and (min-width:768px) {
    #team .semi {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    /* #team .card{
      padding: .5rem 1rem 1rem;
    } */
}


@media only screen and (max-width: 1000px){
  .amigos{
    flex-direction: column;
  }
  .amigos .amigo-logo img{
    height: 30vh;
    width: 80vw;
    margin: auto;
  }
  .amigos .amigo-info{
    text-align: center;
  }
}

@media only screen and (max-width:700px){
  .upper{
    flex-direction: column-reverse;
  }
  .upper .upper-text{
    text-align: center;
    margin-right: 0;
    margin-top: 25px;
  }
  .upper .upper-img{
    height: 250px;
    width: 250px;
    margin-top: 20px;
  }
  .upper .upper-img img{
    height: 250px;
    width: 250px;
  }
}

@media only screen and (max-width: 650px){
  #team{
    font-size: 1rem;
  }
  #team .card{
    padding: .5rem;
  }
  /* #team img{
    margin: .5rem;
  } */
}

.dark-mode #team {
    color: rgba(255,255,255,0.8);
}

.dark-mode #team img {
    box-shadow: 5px 5px 7px 0 rgba(73, 73, 73, 0.8),
        -5px -5px 7px 0 rgba(0, 0, 0, 0.8);

}

.dark-mode #team .card {
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.8),
        -6px -6px 8px 0 rgba(73, 73, 73, 0.8);
}

.dark-mode #team .card:hover {
    box-shadow: inset 6px 6px 8px 0 rgba(73, 73, 73, 0.8),
        inset -6px -6px 8px 0 rgba(0, 0, 0, 0.8);
}
