input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background:  transparent url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 25%;
	color: black;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	box-shadow: inset 2px 2px 5px 0 #A3B1C6,
  inset -2px -2px 5px 0 #FFFFFF;
}
input[type=search]:focus {
	border-color: #66CC75;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: inset 2px 2px 5px 0 #A3B1C6,
  inset -2px -2px 5px 0 #FFFFFF;
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

@media only screen and (max-width: 400px){
	input[type="search"]{
		width: 70%;
	}
}

.dark-mode input[type=search]{
	box-shadow: inset 2px 2px 5px 0 rgba(73, 73, 73, 0.8),
			inset -2px -2px 5px 0 rgba(0, 0, 0, 0.8) !important;
}

.dark-mode input[type=search]{
	color: white !important;
	box-shadow: inset 2px 2px 5px 0 rgba(73, 73, 73, 0.8),
			inset -2px -2px 5px 0 rgba(0, 0, 0, 0.8) !important;
}
