{% extends 'blogs/base.html' %}
{% load static %}
{% block nav %}
<nav>
    <label class="switch">
        <input type="checkbox" id="darkmode">
        <span class="slider round"></span>
    </label>
    <div class="nav-links">
        <h1 class="active" ><a href="{% url 'home' %}">HOME</a></h1>
        <h1><a href="{% url 'blogs:blog_list' %}">BLOG</a></h1>
    </div>
</nav>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="upper">
  <div class="upper-text">
    <h1>V-Blogs</h1>
    <h5>One spot for all VinnovateIT Blogs</h5>
  </div>
  <div class="upper-img">
    <img src="{% static 'img/VinnovateIT-white-text.png' %}" alt="vinnovatelogo">
  </div>
</div>

<div class="titles">
  <p>About Us</p>
</div>

<div class="container">
<div class="about-us">
  <p>VinnovateIT is an OFFICIAL innovation and incubation lab of SITE School.
VinnovateIT is a one-stop destination from all digitally curious Homosapiens.
We are a group of like-minded people looking for some technical trouble in life.
Learning from our mistakes and those of others is our motto and nectar of innovation is our diet.
Looking through problems as opportunities to learn and improve is what keeps us going.So be ready to immerse yourself in an technically interdependent ecosystem we call VinnovateIT.
Simple, smart , unique and efficient ideas to solve problems, with effective implementation is something that we strongly believe in.
Being a technical Lab based club, our vision is to consistently deliver the best blogs based on various tech blogs.</p>
</div>
</div>

<div class="titles">
  <p>Our Recent Blogs</p>
</div>

    <div id="team">
        <div class="container">
            <div class="row my-5 h-100">
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="row h-100 my-1">
                      <a href="{% url 'blogs:blog_detail' slug=f_blog.slug %}" class="cards-link">
                        <div class="card big_card" onclick="location.href='#';" style="cursor: pointer;">
                            <img class="card-img-top" src="{{ f_blog.thumbnail_image.url }}" alt="Card image cap">
                            <div class="card-body card3">
                                <div class="card-text">
                                    <h2 style="float:none" class="card-title" style=" margin-top:1rem;margin-bottom: 1rem;">{{ f_blog.title }}</h2>
                                    <br>
                                    <p>{{ f_blog.description_html|safe|truncatewords:75 }} </p>
                                </div>
                            </div>
                            <div class="container bottom_elements" style=" margin-bottom:1rem;">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"> <span style="float:left"> <i class="fas fa-globe-americas icon"></i> {{ f_blog.author }}</span>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"> <span class="clock"> <i class="fas fa-clock icon"></i> {{ f_blog.created_at.date }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>

                    </div>

                </div>


                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 " style="padding-left: 20px;">
                    <div class="semi">
                        <div class="my-1" onclick="location.href='#'" style="cursor: pointer;">
                          <a href="{% url 'blogs:blog_detail' slug=s_blog.slug %}">
                            <div class="card h-100" style="">

                                <img class="card-img-top" src="{{ s_blog.thumbnail_image.url }}" alt="Card image cap">

                                <div class="card-body card1">

                                    <p class="card-text">{{ s_blog.title }}</p>
                                </div>


                                <div class="container bottom_elements" style="margin-bottom: 1rem;">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                            <span style="float:left"> <i class="fas fa-globe-americas icon">
                                                </i> {{ s_blog.author }}</span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                            <span class="clock"> <i class="fas fa-clock icon"></i> {{ s_blog.created_at.date }}</span></div>
                                    </div>
                                </div>
                            </div>
                          </a>
                        </div>

                        <div class="my-1" onclick="location.href='#';" style="cursor: pointer;">
                          <a href="{% url 'blogs:blog_detail' slug=t_blog.slug %}">
                            <div class="card h-100" style="">

                                <!--
                            <div style="display: flex;justify-content:flex-end;margin:1rem;">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <i class="fa fa-user fa-stack-1x icon"></i>
                                </span>
                            </div>
-->
                                <img class="card-img-top" src="{{ t_blog.thumbnail_image.url }}" alt="Card image cap">
                                <div class="card-body card2">
                                    <p class="card-text">{{ t_blog.title }}</p>
                                </div>

                                <div class="container bottom_elements">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                            <span style="float:left"> <i class="fas fa-globe-americas icon">
                                                </i> {{ t_blog.author }}</span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                            <span class="clock"> <i class="fas fa-clock icon"></i> {{ t_blog.created_at.date }}</span></div>
                                    </div>
                                </div>

                            </div>
                          </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="titles">
      <p>Check Amigos</p>
    </div>

  <div class="container">
    <div class="amigos">
      <div class="amigo-logo">
        <img src="{% static 'img/amigos-logo.svg' %}" alt="">
      </div>
      <div class="amigo-info">
        <p>Never got to hangout with the “tribe” you thought you'd make during your college life? Going bonkers sitting alone at home? Well wait no more……. VinnovateIT presents you the revamped form of Omegle exclusively for VIT which we like to call Amigos.</p>
        <p class="amigos-button"><a href="https://amigos.vinnovateit.com/">Click Here</a></p>
      </div>
    </div>
  </div>



{% endblock %}
