<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinnovate Blog Website</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/searchbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">

    {% block css %}
    {% endblock %}

  </head>
  <body id="body">

    {% block nav %}
    {% endblock %}

    <!-- <nav>
        <label class="switch">
            <input type="checkbox" id="darkmode">
            <span class="slider round"></span>
        </label>
        <div class="nav-links">
            <h1 class="active" ><a href="{% url 'home' %}">HOME</a></h1>
            <h1><a href="{% url 'blogs:blog_list' %}">BLOG</a></h1>
        </div>
    </nav> -->

    {% block content %}
    {% endblock %}

    <!-- <div class="footer-area">
     <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
            <img src="{% static 'img/VIT-SITE-school-logo.png' %}" alt="">
        </div>
        <div class="col-lg-6 col-12">
          <div class="footer-info">
            <address>
              Cognizant Research Laboratory <br>
              SJT 1st Floor <br>
              VIT Vellore <br>
              Tamil Nadu <br>
              (+91) 887 0855 940 <br>
            </address>
            <div class="social-icons">
              <a href="https://www.facebook.com/VinnovateIT/"><i class="fab fa-facebook"></i></a>
              <a href="https://www.instagram.com/VinnovateIT/"><i class="fab fa-instagram"></i></a>
              <a href="https://www.linkedin.com/company/v-innovate-it/"><i class="fab fa-linkedin"></i></a>
              <a href="https://github.com/VinnovateIT/"><i class="fab fa-github"></i></a>
            </div>
        </div>
      </div>
      </div>
    </div>
    <div class="copyright">
      <p><i class="far fa-copyright"></i>VinnovateIT,Vellore Institute Of Technology</p>
    </div>
  </div> -->

  <div class="connect">
    <p>Connect With Us</p>
  </div>

  <div class="social-icons">
    <a href="https://www.facebook.com/VinnovateIT/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/VinnovateIT/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/company/v-innovate-it/"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/VinnovateIT/"><i class="fab fa-github"></i></a>
  </div>

  <div class="copyright">
    <p><i class="far fa-copyright"></i>VinnovateIT,Vellore Institute Of Technology</p>
  </div>

    {% block script %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'js/prism.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>

  </body>
</html>
