{% extends 'blogs/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/blog_list.css' %}">
{% endblock %}

{% block content %}


  <form method='GET' action="{% url 'blogs:blog_list' %}">
    <p id="searchbar"><input type='search' name='q' placeholder='Title'></p>
  </form>


  <!-- {% for blog in bloglist %}
  <div class="blog-cards">
  <div class="row">
    <div class="col-md-2">
      <img src="{{ blog.thumbnail_image.url }}" alt="thumbnail" style="height:100px;width:100px;">
    </div>
    <div class="col-md-10">
      <p><b>{{ blog.title }}</b></p>
      <p>{{ blog.description_html|safe }} </p>
      <a class="btn btn-primary" href="{% url 'blogs:blog_detail' slug=blog.slug %}">Read</a>
    </div>
  </div>
  </div>
  {% endfor %}
</div> -->

  {% for blog in bloglist %}
      <div class="blog_list">
        <div class="row">
          <div class="col-lg-4">
            <div class="blog_list_img">
              <img src="{{ blog.thumbnail_image.url }}" alt="thumbnail">
            </div>
          </div>
          <div class="col-lg-8">
            <div class="blog_info">
              <h1>{{ blog.title }}</h1>
              <p>{{ blog.description_html|safe|truncatewords:40 }}</p>
              <div class="blog_response">
                <div class="row">
                  <div class="col-6">
                    <p><i class="fas fa-arrow-alt-up"></i> {{ blog.liked.count }} Upvotes</p>
                  </div>
                  <div class="col-6">
                    <p><i class="far fa-comment"></i> {{ blog.comments.count }} Comments</p>
                  </div>
                </div>
              </div>
              <a href="{% url 'blogs:blog_detail' slug=blog.slug %}"><p class="read_button">Read More</p></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

{% endblock %}
