{% extends 'blogs/base.html' %}
{% load static %}
{% block nav %}
<nav>
    <label class="switch">
        <input type="checkbox" id="darkmode">
        <span class="slider round"></span>
    </label>
    <div class="nav-links">
        <h1><a href="{% url 'home' %}">HOME</a></h1>
        <h1><a href="{% url 'blogs:blog_list' %}">BLOG</a></h1>
    </div>
</nav>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/blog_detail.css' %}">
{% endblock %}
{% block content %}

<!-- <div class="container">
    <h1>{{ blog.title }}</h1>
    <h3>Written by: {{ blog.author }}</h3>
    <p>Created at: {{ blog.created_at }}</p>
    <hr>
    {{ blog.body|safe }}
    <hr>
    <form class="like-form" action="{% url 'blogs:like_post'%}" method="POST" id={{blog.id}}>
        {% csrf_token %}
        <input type="hidden" name="post_pk" id='post_pk' value={{blog.pk}}>
        <button class="btn btn-primary like-btn{{blog.id}}">
            {% if liked %}
                Unlike
            {% else %}
                Like
            {% endif %}
        </button>
    </form>
    <br>
    <br><br>
    <form action="{% url 'blogs:add_comments' slug=blog.slug %}" method="post">
        {% csrf_token %}
        <label for="writer">Name:</label>
        <input type="text" name="writer" placeholder="Enter your name">
        <br>
        <label for="text">Your Comment:</label>
        <input type="text" name="text" placeholder="Enter your comment">
        <br>
        <input type="submit" name="" value="Submit" class="btn btn-primary">
    </form>

    {% for comment in comments %}
    <hr>
    <p>{{ comment.text_html|safe }}</p>
    <p>By: {{ comment.writer }}</p>
    <p>{{ comment.created_at }}</p>
    {% endfor %}

</div> -->

<div class="container">
      <div class="blog">
        <h2>{{ blog.title }}</h2>
        <hr>
        <div class="row">
              <div class="col-3 col-md-1">
                  <a href="https://vinnovateit.com/"><img src="{% static 'img/VinnovateIT-shape.png' %}" alt="" class="blog-detail-icon"></a>
              </div>
              <div class="col-9 col-md-11">
                  <div class="writer_info">
                      <p> By <b>{{ blog.author }}</b></p>
                      <p>{{ blog.created_at }}</p>
                  </div>
              </div>
          </div>
        <hr>
        <br>
        <div class="blog-content">
          {{ blog.body|safe }}
        </div>
        <hr>

        <div class="buttons">
          <form class="like-form" action="{% url 'blogs:like_post'%}" method="POST" id={{blog.id}}>
             {% csrf_token %}
              <input type="hidden" name="post_pk" id='post_pk' value={{blog.pk}}>
              <button class="blog-button like-btn{{blog.id}}">
                 {% if liked %}
                     Dislike
                 {% else %}
                     Like
                 {% endif %}
              </button>
          </form>

                <p class="blog-button" id="comment">Comment</p>
        </div>

        <!-- <form action="{% url 'blogs:add_comments' slug=blog.slug %}" method="post">
            {% csrf_token %}
             <input type="text" name="writer" placeholder="Your name" required>
             <br>
             <input type="text" name="text" placeholder="Your thoughts" required>
             <br>
             <input type="submit" name="" value="Submit" class="option">
          </form>
         <br>
         <form class="like-form" action="{% url 'blogs:like_post'%}" method="POST" id={{blog.id}}>
            {% csrf_token %}
             <input type="hidden" name="post_pk" id='post_pk' value={{blog.pk}}>
             <button class="option like-btn{{blog.id}}">
                {% if liked %}
                    Unlike
                {% else %}
                    Like
                {% endif %}
             </button>
         </form> -->


         <div class="hide" id="comment-section">
         <form action="{% url 'blogs:add_comments' slug=blog.slug %}" method="post">
             {% csrf_token %}
              <input type="text" name="writer" placeholder="Your name" required>
              <br>
              <input type="text" name="text" placeholder="Your thoughts" required>
              <br>
              <input type="submit" name="" value="Submit" class="blog-button">
           </form>
           </div>

         <div class="blog-comments">
           <div class="row">
            {% for comment in comments %}
             <div class="col-12">
               <div class="comment">
                <h6><i class="fas fa-user-circle"></i> {{ comment.writer }} . <i>{{ comment.created_at }}</i></h6>
                 <p>{{ comment.text_html|safe }}</p>
               </div>
             </div>
             {% endfor %}
           </div>
         </div>
       </div>
     </div>



{% endblock %}
{% block script %}
    <script>
      document.getElementById('comment').addEventListener('click', function() {
            document.getElementById('comment-section').classList.toggle('hide');
        })

        $(document).ready(function(){
            $('.like-form').submit(function(e){
                e.preventDefault()
                const post_id = $(this).attr('id')
                const likeText = $(`.like-btn${post_id}`).text()
                const trim = $.trim(likeText)
                const url = $('.like-form').attr('action')

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'post_pk': post_id
                    },

                    success: function(){
                        console.log('hello')
                        $.ajax({
                            type: 'GET',
                            url: 'https://v-blogs.herokuapp.com/blogs/serialized/',
                            success: function(response){

                                $.each(response, function(index,element){
                                    if (post_id == element.id){
                                        if (trim == 'Like'){
                                            $(`.like-btn${post_id}`).html('Dislike')
                                        } else if( trim == 'Dislike'){
                                            $(`.like-btn${post_id}`).html('Like')
                                        } else{
                                            console.log('error')
                                        }

                                    }
                                })
                            },
                            error: function(error){
                                console.log('error')
                            }
                        })
                    },

                    error: function(error){
                        console.log('error',error)
                    }
                })
            })
        })

    </script>

{% endblock %}
